version: '3'
services:
  mongodb:
      image: mongodb/mongodb-community-server:6.0-ubi8
      ports:
        - "27017:27017"
      environment:
        - MONGO_INITDB_ROOT_USERNAME=user
        - MONGO_INITDB_ROOT_PASSWORD=pass
      volumes:
        - type: bind
          source: ./data
          target: /data/db
      networks:
        - mongodb

networks:
  mongodb:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"