@import './base.css';

#app {
  min-height: 100dvh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f4f8;
  line-height: 1.6;
  color: #334155;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
